{% load rest_framework %}

<html>
    <head>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <title>Welcome</title>
</head>
     <body>
<div class="container-fluid">
<h1>Contact - {{ contact.last_name }} {{ contact.first_name }}</h1>
Owned by: {{ contact.owner.username }} [ you = " {{ user.username }} "]
<form class="form-horizontal" action="/contacts/{{ contact.id }}/" method="POST" novalidate>
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/horizontal'  %}
    {% if user.is_authenticated and contact.owner.id == user.id  %}
    <input class="btn btn-success" type="submit" value="Save">
    {% else %}
    <span class="label label-danger">You don't have permission to change this.</span>
    {% endif %}
</form>
<hr>
<form action="/contacts/{{ contact.id }}/" method="POST" novalidate>
    {% csrf_token %}
    {% if user.is_authenticated and contact.owner.id == user.id  %}
    
    <input class="btn btn-success" type="submit" value="Save">
    {% else %}
    <span class="label label-danger">You don't have permission to change this.</span>
    {% endif %}
</form>
</div>
</body></html>
