{% load rest_framework %}

<html>
    <head>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<!-- navbar -->
    <nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>

            <a class="navbar-brand" href="#">Contacts Example</a>

        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/contacts/">List Contacts</a></li>
          <li class="active"><a href="/static/html/portfolio.html">Portfolio</a></li>
          <li><a href="/index.html#about">About</a></li> 
          <li><a href="#">Contact</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
        
          <li><a href="mailto:admin@rpcodes">
          <span class="glyphicon glyphicon-send"></span>
          &nbsp;admin@rpcodes.biz</a>
          </li>
          <li><a href="tel:7327037993">
          <span class="glyphicon glyphicon-earphone"></span>
          &nbsp;(732) 703-7993&nbsp;
          </a></li>
        </ul>
        </div>
    </div>
    </nav>
    
<h1>Contacts</h1>
<ul>
    {% for contact in contacts %}
    <li>
        {% if user.id == contact.owner.id %}
            <A href="/contacts/{{ contact.id }}/">
        {% endif %}
        
        {{ contact.last_name }}, {{ contact.first_name}}
        
        {% if user.id == contact.id %}
            </A>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</body></html>