{% extends "sf_base.html" %}
{% block header_styles %}
<style>
 #map {
 
        height: 50%;
        width: 100%; 
        /*border-style: solid;*/
    }
      
#controls {
  overflow-y: scroll;
  padding: 0.1em;
  height: 25%;
  width: 99%;
}
</style>
{% endblock %}
{% block content %}
<DIV class="container-fluid">

  {% if user.is_authenticated %}
 <span id="status" class="label label-default" style="float: right;">Loading</span>
 <div id="info" class="panel panel-default"></div>
    <div id="controls">
<form class="form-inline">
  <div class="form-group">
    <label for="driver_user_id">Driver</label>
    <select class="form-control" id="driver_user_id">
     <option value="-1">ALL</option>
    </select>
     <span class="checkbox well">
       <label>
         <input id="show_past_hour" type="checkbox"  checked>Show Past Hour
       </label>
     </span>
         
     <span class="checkbox well">
       <label>
         <input id="center_on_driver" type="checkbox" checked>Center on Driver
       </label>
     </span>
       
     <span class="checkbox well">
       <label>
         <input id="show_destination_marker" type="checkbox" disabled unchecked>Show Destination Marker
       </label>
     </span>
   </div>
  <div class="form-group">
    <button onclick="loadPoints(); return false;" type="button" class="btn btn-default">Force Reload</button>
  </div>
  
</form>

    </div><!-- end controls div-->
         <div id="map">
         
         </div>
         {% else %}
         <div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" >
     <div class="panel panel-primary panel-body">
         Please <a href="/api-auth/login/?next=/map/">Log in</a>
     </div>
    </div>
    <div class="col-sm-4"></div>
         </div>
         {% endif %}
</DIV>

{% endblock %}
{% block footer_js %}
    
<script>
 var SFGAS = {"lat":39.6708392,
 "lng":-75.0983359};
 // var API_KEY = "AIzaSyBo4H_EleXDLIGAsYeedF-Ml_zwntQmBuc";
var SFMap = SFMap || function(map_element_id, default_center_lat, default_center_lon){
  this.default_lat = default_center_lat;
  this.default_lng = default_center_lon;
  this.map_element_id = map_element_id;
  this.mapObj = null;
  
  
  // store driver by their username key
  this.drivers = {};
  

};

SFMap.prototype.addDriver = function(dr){
 
  if (typeof dr == 'object') {
    var key = dr.username
    this.drivers[key] = dr;
  } else {
    console.log("Expected SFDriver object, got " + typeof dr);
  }
}

SFMap.prototype.initMap = function(){
 this.map = new google.maps.Map(document.getElementById(this.map_element_id), {
      center: {lat: this.default_lat, lng: this.default_lng},
      zoom: 10
      , streetViewControl: false
    });
}

SFMap.prototype.hideDrivers = function(){
  for (var key in this.drivers){
    var dr = this.drivers[key];
    dr.draw_flag = false;
  }
}

SFMap.prototype.hideDriversNow = function(){
  for (var key in this.drivers){
    var dr = this.drivers[key];
    dr.draw_flag = false;
    dr.hide();
  }
}

SFMap.prototype.showDrivers = function(){
  for (var key in drivers){
    var dr = drivers[key];
    dr.draw_flag = true;
  }
}

//
// DRIVER
//

var SFDriver = SFDriver || function(username, aname, acolor){
  this.name = aname;
  this.color = acolor;
  this.username = username;
  this.draw_flag = false;
  this.gps = [];
  
  this.createIcon = function(mapObj, location){
    var n = this.name;
    var c = this.color;
    // strip #
    if (c.substr(0,1) == '#') {
        c = c.substr(1);
    }
    // create icon
    return new google.maps.Marker({
      map: mapObj,
      position: location,
      icon: 
     'https://chart.googleapis.com/chart?' +
     'chst=d_map_pin_letter&chld='
     + n.charAt(0).toUpperCase()
     + '|' + c + '|' + '000000'});
  }
 
  this.createPolyline = function(mapObj) {
        var color = this['color'];
        var points = this['gps'];
        console.log("Drawing " + points.length + " points in " + color);
        
        var flightPath = new google.maps.Polyline({
            path: points,
            geodesic: true,
            strokeColor: color,
            strokeOpacity: 1.0,
            strokeWeight: 3
        });
        flightPath.setMap(mapObj);
        // save off so we can set map to null when hiding
        return flightPath;
        
    }
}

/**
 * Clears gps data
 * Do this before loading the points from the request
 **/
SFDriver.prototype.clearGPS = function(){
  this.gps = [];
}
/**
 * TODO: Handle mph and sat (opacity)
 * Takes {"lat": x, "lon" :y, "created":date} and stores it
 * Also sets updated and last_gps on the object
 */
SFDriver.prototype.addGPS = function(data){
  var d = { lat : data.lat,lng:data.lon};
  this['updated'] = new Date(data['created']);
  this['last_gps'] = d;
  this.gps.push(d);
  console.log("Added " + JSON.stringify(data))
}

SFDriver.prototype.hide = function(){
 if ( typeof this.icon != 'undefined' ){
      this.icon.setMap(null);
  }
  if ( typeof this.path != 'undefined' ){
    this.path.setMap(null);
  }
}
/**
 * draw the driver to the map; or hide it if draw-flag false
 * Returns the drivers current location lat, lng for convenience
 * Returns null when draw_flag false, last_gps undefined, or gps length is 0
 */
SFDriver.prototype.render = function(mapObj){
  // Don't draw if the draw_flag is false
  // Turn off any path or icon while we're here
  // This will prevent the flicker as long as
  // the desired driver data is draw_flag true
  if (false == this.draw_flag) {
    hide();
    return null;
  }
  //get last_gps
  if (this.gps.length == 0 || typeof this.last_gps == 'undefined') {
     //error
     console.log("Cannot draw " + this.name + " insufficient gps data");
     return null;
  }
  var point = this.last_gps;//{ lat : this.last_gps.lat, lng : this.last_gps.lon};
  
  // If icon or path is missing, create it
  if ( typeof this.icon == 'undefined') {
     this["icon"] = this.createIcon(mapObj, point);
  } else {
     this.icon.setPosition(point);
     if( null == this.icon.getMap()){
      this.icon.setMap(mapObj)
     }
  }
  if ( typeof this.path == 'undefined') {
     this["path"] = this.createPolyline(mapObj);
  } else {
     this.path.setPath(this.gps);
     if( null == this.path.getMap()){
       this.path.setMap(mapObj)
     }
  }
  
  this.clearGPS();
  
  return point;
}

 _map = new SFMap('map', 39.6638,-75.0775);
 
 _driver = new SFDriver("test", "#00FFFF");

 //
 //
 // 
 var $info = $("#info");
 function info(msg) {
    $info.text(msg)
 }
   var $status = $("#status");
   function status(msg, errorFlag) {
     console.log(msg);
     $status.text(msg)
     if ( errorFlag ){
      $status.addClass("label-danger").removeClass("label-success");
     } else {
      $status.addClass("label-success").removeClass("label-danger");
     }
   }
   // Querystring values for /api/driver and /api/gps
   var setting = {};
   setting.driver_user_id = -1; // -1 infers all drivers
   setting.show_all_drivers = true;
   setting.center_on_driver = true;
   setting.show_past_hour = true;
   setting.show_destination_marker = true;
   
   var $selectDriver = $('select');
   
   //var driverIDandName = { '1' : 'ABC', '12' : 'DEF' };
   function createSelectOptions(selectDriver, driverIDandName) {
     $.each(driverIDandName, function(key, value) {   
       selectDriver
          .append($('<option>', { value : key, text : value }));
          //.text(value)); 
     });
   }
   
   // select for select Driver change handler
   // TODO kick off gps query when changed
   $selectDriver.change(function(event){
     var index = this.selectedIndex
       , value = this.options[this.selectedIndex].value;
   
     setting.driver_user_id = value;
     setting.show_all_drivers = Boolean(value == -1);
     if (setting.show_all_drivers == false) {
       _map.hideDriversNow();
     }
     status("Loading...");
     info("");
     console.log("Settings changed " + JSON.stringify(setting))
   });
   
   // checkbox change handler
   $("input[type=checkbox]").change(function(event){
     var ID = $(this).attr('id');
     var checked = this.checked;
     setting[ID] = checked;
     console.log("Settings changed " + JSON.stringify(setting))
   })
   
   /**
    * Accepts dict with 'username'
    * and optional first_name and/or last_name
    * Returns last name, first name
    * or username
    */
   function nameFromUser(dict) {
     if (typeof dict.username == 'undefined') {
        return "Error";
     }
     if ( typeof dict.last_name == 'undefined' || dict.last_name.trim() == '') {
        if ( typeof dict.first_name == 'undefined' || dict.first_name.trim() == '') {
            return dict.username;
        } else {
         return dict.first_name;
        }
     } else {
      if (typeof dict.first_name == 'undefined' || dict.first_name.trim() == '') {
        return dict.last_name;
      } else {
       return (dict.last_name + ", " + dict.first_name);
      }
     } 
   }
   /**
    * Get driver data via AJAX
    * Calls generateDriver for each entry
    */
   function getDrivers() {
    var url = '/api/driver/'
    var jqxhr = $.ajax( url
            , { jsonp : false
                , dataType : "json"
                , contentType: "application/json;"
                //, data : queryOptions
            } )
          .done(function(d) {
            var dict = {};
            var data = d["results"];
            for (var i=0; i < data.length; i++) {
                var dd = data[i];
                var user = dd['user'];
                var username = user['username']
                var name = nameFromUser(user);
                // generateDriver(username, name, dd['color']);
                _map.addDriver(new SFDriver(username, name, dd['color']))
                console.log(JSON.stringify(_map.drivers));
                // add the option to the select
                dict[username] = name;
            }
            createSelectOptions($selectDriver, dict);
            status("" + data.length + " drivers loaded.")
          })
          .fail(function() {
            status("Failed to get drivers", true);
            console.log( "error " + url );
          })
          .always(function() {
            console.log( "Got drivers. " );
          });
   }
   
   getDrivers();
   
      // AC
      var placeSearch, autocomplete;
      
      // MAP
      var mapObj, markersArray = [];

      // drawing the driver positions
      var drivers = {};
      
      function clearDrivers() {
        drivers = {}
      }
      
      function clearDriversGPS() {
        for (var i in _map.drivers ){
          _map.drivers[i].clearGPS();
        }
      }
      /**
       * TODO: Other engines; we should make our own wrapper for the marker
       * Return an icon for drawing to the map;
       * the idea is to re-use this.
       */
      function createMarker(location, icon_url) {
         return new google.maps.Marker({
              map: mapObj,
              position: location,
              icon: icon_url
            });
      }
      /**
       * Adds a driver to the dictionary of drivers.
       * a key, such as the drivers user ID, the name,
       * and the color, both used to create the poly line
       * and icon
       * Color must be in a format RRGGBB WITHOUT a leading #
       * loc is optional, and no marker icon is created without loc
       */
      function generateDriver(username, name, color, loc) {
       // strip off # if present
        if (color.substring(0, 1) == '#') { 
          color = color.substring(1);
        }
        drivers[username] = {
          "name" : name
         , "color" : color
         , "gps" : []
        }
        if ( typeof loc != 'undefined') {
            drivers[username].icon = createMarker(loc,
             'https://chart.googleapis.com/chart?' +
             'chst=d_map_pin_letter&chld='
             + name.charAt(0).toUpperCase()
             + '|' + color + '|' + '000000')
        }
      }
      
      // Move a driver to a location, or create the driver if no driver at that key
      // key == username
      function showMarkerForDriver(driver, location) {
           var d = driver;
           
           if ( typeof d.icon == 'undefined') {
             d.icon = createMarker(location,
             'https://chart.googleapis.com/chart?' +
             'chst=d_map_pin_letter&chld='
             + d.name.charAt(0).toUpperCase()
             + '|' + d['color'] + '|' + '000000');
             
           } else {
            d.icon.setPosition(location);
           }
           
           d.icon.setMap(mapObj);
      }
      
      function initMap(args) {
         _map.initMap();
        mapObj = _map.map;
        console.log("Created map object."); 
      }
      
      
   /* for paginated data, we need to get data from results key
    returns false if an error in storing data */
    function process_results(data) {
        var processedOK = false;
        var results = data['results']
        if (results != null) {
            //code
            console.log(results);
            processedOK = store_gps_data(results);
        } else {
            console.log("Short form of GPS results ")
            processedOK = store_gps_data(data);
        }
        
        return processedOK;
    }
    
    /* Store GPS with each driver
     * Also store updated (Date) and last_gps  {lat,lng} 
     */
    function store_gps_data(data) {
        var i = 0;
        var loc, dr, key;
        for (i=0; i < data.length; i++){
            if (typeof data[i]['lat'] != 'undefined'
                && typeof data[i]['lon'] != 'undefined') {
                // loc = {lat:data[i]['lat'],lng:data[i]['lon']}
                key = data[i].owner;
                
                if (typeof _map.drivers[key] != 'undefined') {
                  dr = _map.drivers[key];
                } else {
                  continue;
                }
                dr.addGPS(data[i]);
                //dr['updated'] = new Date(data[i]['created']);
                //dr['last_gps'] = loc;
                //dr.gps.push(loc);
                // currentGpsPoints.push(loc)
            } else {
                console.log("Malformed GPS data from server. " + JSON.stringify( data[i]));
            }
        }
       
        return true;
    }
    
    /* draw a polyline with the given points
   store on driver so we may hide him later
    */
    function drawPolylineFromPoints(points, driver) {
        var color = driver['color'];
        console.log("Drawing " + points.length + " points in " + color);
        
        var flightPath = new google.maps.Polyline({
            path: points,
            geodesic: true,
            strokeColor: '#' + color,
            strokeOpacity: 1.0,
            strokeWeight: 3
        });
      
        flightPath.setMap(mapObj);
        // save off so we can set map to null
        driver['path'] = flightPath;
        
    }
    //
    //TIME HELPERS
    // 
    function beginningOfToday(args) {
        var d1 = new Date(Date.now()); // UTC
        d1.setHours(0,0,0,0); // We let thisbe in EST so when midnight hits we show next day; otherwise 8pm shows "tmrw"
        var rex = /[TZ]/g; // strip off T and Z in ISO format for compat w django-filter
        var dd = d1.toISOString().replace(rex," ");
        console.log("Today begins at: " + dd)
        return dd;
    }
    /**
     * returns time range related to the past hour
     * {'start' start time - , 'end' roughly now}
     */
    function timeRangePastHour() {
        //Get the start and end times, if
        // not defined, then add the defaults
        // TODO: get and add defaults from elements in DOM
        var rex = /[TZ]/g; // strip off T and Z in ISO format for compat w django-filter
        var d1 = new Date(Date.now()).toISOString().replace(rex," "); //now
        var ONE_HOUR = 60 * 60 * 1000; /* ms */
        // minus one hour for start
        var d0 = new Date(Date.now() - ONE_HOUR).toISOString().replace(rex," ");
        console.log(new Date().toISOString() + "::: " + d0 + " to " + d1)
        return {'start' : d0, 'end' : d1 };
    }
    function timeOf(d) {
     if ( typeof d == 'undefined') {
        return "00:00";
     }
        var h = (d.getHours()<10?'0':'') + d.getHours(),
            m = (d.getMinutes()<10?'0':'') + d.getMinutes();
        return ""+ h + ':' + m;
    }
    function timeNow() {
      var d = new Date();
      return timeOf(d);
    }
    
    /* Load GPS points */
    function loadPoints() {
        // google.maps.event.trigger(mapObj, 'resize');
        // skip ones we already have
        // TODO: Need to reset this if changing driver
        // var lastIndex = currentGpsPoints.length
        var url = "/api/gps/"; //?limit=1000&offset=" + lastIndex
        //var url = "http://127.0.0.1:8000/gps/data.json/?limit=50";
        
        console.log(url)
        // Assign handlers immediately after making the request,
        // and remember the jqXHR object for this request
        var queryOptions = {};
        queryOptions['limit'] = 100000;
        // queryOptions['offset'] = lastIndex;
        if (setting.driver_user_id != -1 && setting.show_all_drivers == false) {
            queryOptions['owner'] = setting.driver_user_id;
        }
        if (setting.show_past_hour) { 
         var startend = timeRangePastHour();
         queryOptions['created_0'] = startend['start'];
         queryOptions['created_1'] = startend['end'];
        } else {
         // TODO: get range from form
         queryOptions['created_0'] = beginningOfToday();
         // dont add an end queryOptions['created_1'] = 'undefined'
         
        }
        console.log(JSON.stringify(queryOptions))
        var jqxhr = $.ajax( url
            , { jsonp : false
                , dataType : "json"
                , contentType: "application/json;"
                , data : queryOptions
            } )
          .done(function(data) {
            // get result of storing gps for driver(s)
            var ok = process_results(data);
            // if ok, draw the driver(s)
            if (ok) {
                var infoMessage = "", lastGps, updated, updatedCount;
                
                var drivers = _map.drivers;
                  
                // We got recent data, so set the draw_flag to false for everyone, then
                // Set it to true for the targets
                // _map.hideDrivers(); // turn flag to false
                // TODO: Instead of clearing GPS, instead  use MVC Array backed apprtacoh
                // All Drivers
                // TODO We can use MVCArray with Polyline to effectovely dynamically update the Polyline
                //_map
                
                // Loop all drivers and render
                if (setting.show_all_drivers && setting.driver_user_id == -1) {
                  _map.showDrivers(); // we draw everyone
                 try {
                  var date=0;
                  // don't draw drivers that has no gps and no last_gps
                  // this means they have no data (for the day and/or since the session)
                  for (var key in drivers){
                     var dr = drivers[key];
                     if (typeof dr.gps == 'undefined') {
                       console.log("Skipping " + dr.name + " - no gps data");
                       continue;
                     }
                     if (dr.gps.length == 0 || typeof dr.last_gps == 'undefined') {
                       console.log("Skipping " + dr.name + " - no gps data");
                       continue;
                     }
                     // renderDriver(dr)
                     dr.draw_flag = true;
                     dr.render(mapObj);
                     if (dr.updated.getTime() > date) {
                        date = dr.updated.getTime();
                        updated = timeOf(new Date(date));
                     }
                  }
                  
                    // console.log("Centered on "+currentGpsPoints[currentGpsPoints.length-1]);
                 } catch (e) {
                    console.log("Rendering error: " + e);
                 }
                 
                } else {
                  // Draw one driver
                  var dr = drivers[setting.driver_user_id];
                  dr.draw_flag = true;
                  dr.render(mapObj);
                  // show info
                  infoMessage = dr.name;
                  // update time, beginning of hour, or last updated
                  if (typeof dr.updated == 'undefined') {
                    if ( setting.show_past_hour) {
                     updated = timeRangePastHour().start
                    } else {
                      updated = "00:00";
                    }
                  } else {
                    updated = timeOf(dr.updated);
                  }
                  updatedCount = dr.gps.length;
                  if (setting.center_on_driver) { 
                    mapObj.setCenter(dr.last_gps);
                  }
                }
                
                // show status message about GPS
                if ( updatedCount == 0) {
                    status("No new data.");
                    infoMessage += " no new activity (since " + updated + ")";
                } else {
                  status("" + updatedCount + " GPS");
                  infoMessage += " updated on " + updated;
                }
                // show info of driver name and activity data
                info(infoMessage);
            } else {
                console.log("Error getting gps");
                // Indicate error to user
                status("GPS Data Error", true);
            }
            
          })
          .fail(function() {
            console.log( "error " + url );
            status("GPS Request Error", true);
          })
          .always(function() {
            console.log( "complete" );
          });
    }
     
     //
     // Driver
     //
     
   function renderDriver(dr) {
    drawPolylineFromPoints(dr.gps, dr);
    showMarkerForDriver(dr, dr.last_gps);
    // Clear the driver data until it gets loaded next time.
    // drawings stay in path/icon
    dr.gps = [];
    
   }
   
   function hideDriver(dr){
     if ( typeof dr.icon != 'undefined') {
          dr.icon.setMap(null);
     }
     if ( typeof dr.path != 'undefined') {
          dr.path.setMap(null);
     }
      
    
   }
   function hideAllDrivers() {
     for ( var key in drivers ){
      var dr = drivers[key]; hideDriver(dr);
     }
   }
    </script>
<script>
    /* Run periodically, so we update the map */
    var INTERVAL_MS = 5000;
    var myVar = setInterval(myTimer, INTERVAL_MS);

    function myTimer() {
        loadPoints();
    }
    
    
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWNNCsmSfb0gpZv3IuK1c91cctc2y6FYY&libraries=places&amp;callback=initMap" async="" defer=""></script>
  
{% endblock %}