<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <style>
html, body {
    width: 98%;
    height: 100%;
    background-color: #CCB;
    margin: 0 auto;
}
table {
    background-color: #FFF;
    border-style: solid;
    margin: 0 auto;
    padding: 2px;
}

#results {
    padding: 0.5em;
    border-style: inset;
    background-color: #CCB;
    margin: 0 auto;
    text-align: center;
}

span {
    padding: 0.5em;
}


.numberField {
    width: 4em;
}
.smallField, .largeField, .medField {
    width: 100%;
}

 #map {
        border-style: solid;
        height: 64%;
        width: 99%;
      }
      
#controls {
  overflow-y: scroll;
  padding: 0.1em;
  height: 32%;
  width: 99%;
  border-style: solid;
}

.note {
    font-size: small;
    font-style: italic;
}
h4 {
    padding: 0em;
    margin: 0 auto;
    text-align: center;
}
    </style>
    <!-- jQuery 2.x -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

</head>
<body>


    <div id="controls">

TODO: Filter by driver<br>
TODO: Center Map on Driver<br>
TODO: Show/hide Customer Location<br>
TODO: Show/hide Driver Destinations (Origins too?)<br>
<i>TODO: Time filtering</i><input type="checkbox" unchecked disabled>Today Only</input><br>
    <button onclick="loadPoints();">Loadpoints</button>


    </div><!-- end controls div-->
    <div id="map">
        
    </div>

<script>
    
</script>
    
<script>
   
      // AC
      var placeSearch, autocomplete;
      
      // MAP
      var mapObj, markersArray = [];
        var customerIcon = 'https://chart.googleapis.com/chart?' +
      'chst=d_map_pin_letter&chld=C|009900|003300';
        var driverIcon = 'https://chart.googleapis.com/chart?' +
      'chst=d_map_pin_letter&chld=D|FF0000|330000';
      
      // change to make default map start location
      var geolocateUserIsOn = true;
      
      // instead track the size of the list below ... otherwise will lose track var lastIndex = 0; // {{ points|length }}
      var currentGpsPoints = []; // TODO: Could this become too large? limit stored results
      // Map Object
      // Create map Object
      function createMapObject(args) {
        var thelat, thelon;
        
        if ( args["lat"]) {
            thelat = args["lat"];
        } else {
       
            thelat = 39.6638;
        }
        if ( args["lon"]) {
            thelon = args["lon"];
        } else {
            thelon = -75.0775;
        }
       var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: thelat, lng: thelon},
            zoom: 10
            , streetViewControl: false
          });
       
       return map;
      }
      
      function initMap(args) {
        var d = {};
        if (!args) {
            d["lat"] = 39.6638;
            d["lon"] = -75.0775;
        } else {
            d = args;
        }
        mapObj = createMapObject(d);
        console.log("Created map object.");
        
      }
      
      // give it a place.geometry.location
      // location can be {lat:lat,lon:lon}
      function doMarker(location, icon1) {
         markersArray.push(new google.maps.Marker({
              map: mapObj,
              position: location,
              icon: icon1
            }));
      }
      
      
   /* for paginated data, we need to get data from results key
    returns false if an error in storing data */
    function process_results(data) {
        var processedOK = false;
        var results = data['results']
        if (results != null) {
            //code
            console.log(results);
            processedOK = store_gps_data(results);
        } else {
            processedOK = store_gps_data(data);
        }
        return processedOK;
    }
    
    /* store recent gps objects, and list size,
     so we can monitor the list size for the ?offset query arg
     TODO: key error handling
     TODO: Shoudlnt this be show data?
     */
    function store_gps_data(data) {
        var i = 0;
        var loc;
        for (i=0; i < data.length; i++){
            if (typeof data[i]['lat'] != 'undefined'
                && typeof data[i]['lon'] != 'undefined') {
                loc = {lat:data[i]['lat'],lng:data[i]['lon']}
                // TODO: Manage updates and avoid re-drawing all points
                // set location as gps points
                currentGpsPoints.push(loc)
            } else {
                console.log("Malformed GPS data from our server; see console log." )
            }
        }
        // draw lines
        if (typeof currentGpsPoints != 'undefined') {
            
            console.log("Currently " + currentGpsPoints.length + " points")
            drawPolylineFromPoints(currentGpsPoints)
        }
        // mapObj.setCenter(loc);
        return true;
    }
    
    /* draw a polyline with the given points */
    function drawPolylineFromPoints(points) {
        var flightPath = new google.maps.Polyline({
            path: points,
            geodesic: true,
            strokeColor: '#CC3333',
            strokeOpacity: 1.0,
            strokeWeight: 3
        });

        flightPath.setMap(mapObj);
    }
    
    /* Load GPS points */
    function loadPoints() {
        // google.maps.event.trigger(mapObj, 'resize');
        // skip ones we already have
        var lastIndex = currentGpsPoints.length
        var url = "/gps/data.json/?limit=1000&offset=" + lastIndex
        //var url = "http://127.0.0.1:8000/gps/data.json/?limit=50";
        
        console.log(url)
        // Assign handlers immediately after making the request,
        // and remember the jqXHR object for this request
        var jqxhr = $.ajax( url
            , { jsonp : false
                , dataType : "json"
            } )
          .done(function(data) {
            var ok = process_results(data);
            if (ok) {
                //put onto map
                // doMarker(currentGpsPoints)
            } else {
                console.log("Error");
                // TODO Indicate error to user
            }
            
          })
          .fail(function() {
            console.log( "error" );
          })
          .always(function() {
            console.log( "complete" );
          });
    }
    
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        administrative_area_level_2: 'short_name',
        // country: 'long_name',
        postal_code: 'short_name'
      };

      // use as callback when google maps loads if you need autocpmplete
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
        
        if (!mapObj) {
            console.log("No map object, creating at default lat lng");
            initMap();
        } 
      }

      
      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          
          // LOG  
          console.log(place.address_components[i].types[0] + " = "
                        + place.address_components[i]["short_name"]);
          
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
        var lat, lng;
        lat = place.geometry.location.lat();
        lng = place.geometry.location.lng();
        // center the map onto the new place
        mapObj.setCenter(new google.maps.LatLng(lat,lng));
        
        doMarker(place.geometry.location);

        document.getElementById("location_lat").value = lat;
        document.getElementById("location_lat").disabled = true;
        document.getElementById("location_lng").value = lng;
        document.getElementById("location_lng").disabled = true;
        
        console.log($("#theForm").serialize());
        
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocateUserBrowser() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
        
       
      }
      
      
    </script>
<script>
    /* Run periodically, so we update the map */
    var INTERVAL_MS = 5000;
    var myVar = setInterval(myTimer, INTERVAL_MS);

    function myTimer() {
        loadPoints();
    }
    
    
</script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;callback=initMap" async="" defer=""></script>
  

</body>
