{% extends "sf_base.html" %}

{% block content %}
    <form action="" method="get">
         {% for field in filter.form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            
            {{ field.label_tag }}: {{ field }}
            <input type="time">
        </div>
    {% endfor %}
        <input type="submit" />
    </form>
    {% for obj in filter %}
        {{ obj }}<br />
    {% endfor %}
{% endblock %}