<!DOCTYPE html>
<html>
<body>
{% if user.is_authenticated %}
<p>You must have your Location Services or GPS enabled to submit data to the S&F network.</p>

Your Location: <span id="demo">(Loading...)</span>

<p>Please enter the Cage # and the number of <b>full exchange tanks</b></p>
<form>
    <label for="cage"/>CAGE NUMBER  <input id="cage" type="text" value=""/>
    <br>
    <label for="bottles"/>FULL TANKS  <input id="bottles"  type="text" value=""/>
</form>
<br>
<button onclick="doIt()">Send</button>


<script>
function tryHTTPS() {
     try {
        if (window.location.protocol == "http:"){
            alert("Please wait: You are being redirected to the secure version of this site.")
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        }
    } catch (e) {
    
    }
}
    // TODO: Do this server-side
   
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    ", Longitude: " + position.coords.longitude;
}

function showError(error) {
    tryHTTPS();
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "Please enable GPS or Location Services in the settings of your device. (Geolocation Service Error)"
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "We are unable to determine your position. Ensure you are connected to either WiFi or ."
            break;
        case error.TIMEOUT:
            x.innerHTML = "There was a minor issue discovering your location; you may reload the page, or wait."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}

var interval = setInterval(getLocation,5000);
</script>
<h4>Warning: We have to test carefully before this can go live, because I'm seeing
some ridiculous measurements: for example it doesn't help us to know
we are 3 miles within a point. So I need to write the code in a way that
gives us a required accuracy, say of 100-500 feet at least, or
else the data can't be updated. The alternative
is taking the user management approach where owners create their
own attendants</h4>
 {% else %}
 <p>You must be logged in. Contact your supervisor for more information.</p>
 {% endif %}
</body>
</html>