
<html>
    <head>
    <!DOCTYPE html>
<html lang="en">
<head>
    {% block header_styles %}{% endblock %}
    {% block bootstrap_head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    
    {% endblock %}
    
    {% block header_js %}
    {% endblock %}
    
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>

            <a class="navbar-brand" href="#">S&F Gas Works<br><small>Exchange</small></a>

        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- dropdowns
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/customer/">Add/Edit Customer</a></li>
              <li><a href="/invoice/">Invoice</a></li>
              <li><a href="/activity/">Sales</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Driver
            <span class="caret"></span></a>
            <ul class="dropdown-menu">  
              <li><a href="/driver/">Add/Edit Driver</a></li>
              <li><a href="/map/">Show GPS Map</a></li>
              <li><a href="/assignments/">Delivery Assignments</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Exchange
            <span class="caret"></span></a>
            <ul class="dropdown-menu">  
              <li><a href="/inventory/">Exchange Site Overview</a></li>
              <li><a href="/map/">Show GPS Map</a></li>
              <li><a href="/assignments/">Delivery Assignments</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
            <ul class="dropdown-menu">  
              <li><a href="/override/customer/">Credit/Debit Customer</a></li>
              <li><a href="/override/delivery/">Manual Delivery Assignment</a></li>
              <li><a href="/override/driver/">View Driver Requests</a></li>
              <li><a href="/override/driver/">System Permissions</a></li>
              <li><a href="/info/">Update HQ Info</a></li>
            </ul>
          </li>
        </ul>-->
        <li id="navMap"><a href="{% url 'map' %}">Map</a></li>
        <li id="navCustomer"><a href="/contacts/">Customers</a></li>
        <li id="navDrivers"><a href="/drivers/">Drivers</a></li>
        <li id="navDeliveries"><a href="/deliveries/">Assigned Deliveries</a></li>
        <li id="navDeliveries"><a href="/tools/">Tools</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- login/out -->
            {% if user.is_authenticated %}  
                <li><a href="{% url 'logout' %}">Log out {{ user.username }}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    {% endblock %}
    {% block content %}
    
    {% endblock %}
    {% block foot %}
    
    <footer class="container-fluid "><br>
        <div class="row">
        <div class=" col-sm-3"></div>
        <div class=" col-sm-5">
            <span class="text-right label label-danger">S&F Version Alpha - Errors Are Expected!</span>
        </div>
        <div class=" col-sm-3 "></div>
        </div>
    </footer>
    {% endblock %}
    {% block bootstrap_js %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block footer_js %}

    {% endblock %}

</body>