{% load rest_framework %}

<form action="/groups/" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input name='name'/>
    <input type="submit"/>
</form>

<script src="/static/rest_framework/js/jquery-1.11.3.min.js"></script>
<script src="/static/rest_framework/js/ajax-form.js"></script>
<script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
</script>