{% load rest_framework %}

<html>
    <head>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <title>Foo</title>
</head>
     <body>
<div class="container-fluid">
    <!-- NAVBAR -->
    <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
        <div class="container">
          <span>
            <!-- {% block branding %}
              <a class='navbar-brand' rel="nofollow" href='http://www.django-rest-framework.org'>
                  Django REST framework
              </a>
            {% endblock %} -->
             <a class='navbar-brand'
                rel="nofollow" href='/'>
                  S&F Propane System
              </a>
          </span>
          <ul class="nav navbar-nav pull-right">
            {% block userlinks %}
              {% if user.is_authenticated %}
                {% optional_logout request user %}
              {% else %}
                {% optional_login request %}
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      </div>
    
    <!-- CONTENT -->


<!-- BS and AJAX FORMS deps -->

<script src="/static/rest_framework/js/jquery-1.11.3.min.js"></script>

<!-- AJAX FORMS -->
<script src="/static/rest_framework/js/ajax-form.js"></script>
<!-- for PUT, etc -->
<script src="/static/rest_framework/js/csrf.js"></script>
<script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
</script>
</div>
</body></html>
