{% extends "sf_base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       <h2>Create New S&F Administrator</h2>
    </div>
    <div class="col-sm-4"></div>
</div>

  {% if user.is_authenticated %}
<div class="container-fluid">
<form class="form-horizontal" id="userform">
    {% csrf_token %}
    <div class="form-group" >
      <label for="foo"><i>dfs</i> dsf:</label>
      <input type="text" name="foo" id="foo"/>    
    </div>
    <!-- <input type="hidden" name="groups" id="groups" value="1" /> -->
    {% if user.is_authenticated %}
    <!-- TODO: Also check for role, in case a Driver hacks his way here ;) -->
    <input class="btn btn-success" type="submit" value="Save">
    {% else %}
    <span class="label label-danger">You don't have permission to change this.</span>
    {% endif %}
    
</form>

<div id="result"></div>
</div>
  {% endif %}
  
{% endblock %}
{% block footer_js %}
<script>
    
// CSRF
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function csrfHeaderInit(csrftoken) { 
   $.ajaxSetup({
       beforeSend: function(xhr, settings) {
            console.log("SENDING CSRF: " + csrftoken)
           if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
               xhr.setRequestHeader("X-CSRFToken", csrftoken);
           }
       }
   });
}

$("#userform").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        
        /* get some values from elements on the page: */
        var $form = $(this),
            url = "/api/foo/"
            
            ;
            
        var dd = $form.serializeArray().reduce(function(m,o){ m[o.name] = o.value; return m;}, {});
        
        csrfHeaderInit(dd['csrfmiddlewaretoken']);
        
        delete dd['csrfmiddlewaretoken'];
        
        // We also have to send Bar
        dd['bars'] = [1,]
        // TODO why not just remove the tag
        // delete dd['csrfmiddlewaretoken'];
        //var group_id = dd['groups'];
        //dd['groups'] = [ Number(group_id) ,]
        dd = JSON.stringify(dd);
        console.log(dd);
      
        /* Send the data using post */
        // var posting = $.post(url, data, alert("OK"), 'json');
        var posting = $.ajax( url
            , { jsonp : false
                , type : "POST"
                , dataType : 'json'
                , contentType : 'application/json'
                , success : alert("OK")
                , data : dd
            } );
        
        /* Put the results in a div */
        posting.done(function(data) {
            
        });
});

</script>
{% endblock %}