{% extends "sf_base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="panel panel-primary panel-body">
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}. 
            <a href="{% url 'logout' %}">Log out</a>.
        {% else %}
            Please <a href="{% url 'login' %}">log in</a>.
        {% endif %}
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

  {% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-primary ">
        <div class=" panel-heading">
            Descriptions of Menu Commands  
        </div>
        <div class=" panel-body">
            <span class="bg-warning">
                Sub-menus will be added to the Menu Commands above; shown here is a basic
                idea of the Menu headings.
                The current layout is for testing and subject to change.
            </span>
            <h3>Map</h3>
            <p class="text-primary">
                View Driver(s) position on the map for a given time period.
            </p>
            <h3>Customers</h3>
            <p class="text-danger">
                Not Implemented
            </p>
            <p class="text-primary">
                Add/Edit Customer Data; view Customers by Inventory, or by Sales.
            </p>
            <p class="text-primary">
                Generate Invoices
            </p>
            
            <h3>Drivers</h3>
            <p class="text-danger">
                Not Implemented
            </p>
            <p class="text-primary">
                Add/Edit Driver Data; view Driver delivery history.
            </p>
            
            <h3>Assigned Deliveries</h3>
            <p class="text-danger">
                Not Implemented
            </p>
            <p class="text-primary">
                View each Driver's assignment's as given by the automated
                Driver Route System. 
            </p>
            <p class="text-danger">
                This is the likely endpoint for manual overrides.
            </p>
            
             <h3>Tools</h3>
            <p class="text-danger">
                Not Implemented
            </p>
            <p class="text-primary">
                Additional tools such as Customer Refund, various Code generation,
                etc.
            </p>
        </div>
        
        </div>
    </div>
    <div class="col-sm-2"></div>
    </div>
    </div>
</div>
{% endif %}
{% endblock %}