{% extends "sf_base.html" %}
{% block header_styles %}
<style>
    div.err {
        margin-right: 5em;
        padding: 0.5em;
        border-left: solid #990000 3px;
        color: #990000;
    }
    .status-wrapper {
        padding: 1em
    }
    .field-wrapper {
        
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-6 text-center">
       <h2>Create New S&F Administrator</h2>
    </div>
    <div class="col-sm-3">
       
    </div>
</div>

  {% if user.is_authenticated %}
<div class="container-fluid">

<form class="form-horizontal" id="userform" style="padding: 0 5em;">
      <div class="form-group text-center status-wrapper">
        
        <span id="status" class="label label-primary">
            Enter Data
       </span>
        
    </div>
    <!-- get csrf from cookie {% csrf_token %}-->
    <div class="form-group" >
      <label class="col-sm-2" for="first_name">First Name</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text" name="first_name" id="first_name"/>
      </div>
    <!--</div>
    <div class="form-group" >-->
      <label class="col-sm-2" for="last_name">Last Name</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text" name="last_name" id="last_name"/>
      </div>
    </div>
    <div class="form-group" >
      <label class="col-sm-2" for="username">Username *</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text" name="username" id="username"/>
      </div>
    <!-- </div><div class="form-group"> -->
      <label class="col-sm-2" for="password">Password *</label>
       <div class="col-sm-4 field-wrapper">
        <input type="text" name="password" id="password"/>
        </div>
    </div>
    <div class="form-group" >
      <label class="col-sm-2" for="email">Email</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text"name="email" id="email"/>
      </div>
      <div class="col-sm-6"></div>
    </div>
   
    <div class="form-group" >
    
    <!-- TODO: Also check for role, in case a Driver hacks his way here ;) -->
    <div class="col-sm-4">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    <small class="text-right col-sm-8"><b>* - required</b></small>
   
    
</form>
 {% else %}
    <span class="label label-danger">You don't have permission to change this.</span>

  {% endif %}
  
{% endblock %}
{% block footer_js %}
<!-- adds csrf header to jquery ajax calls -->
<script src="/static/rest_framework/js/csrf.js"></script>
<!-- makes POSTing easier -->
<script src="/static/js/ajaxformpost.js"></script>

<script>

/**
 *data - JSON of the form
 * { "key1" : [ "value1", ...], ... }
 * For each key, add divs for error messaages.
 * Figure out which div by checking the ID of the form
 * against the key until match; then loop the value
 * list adding div for each item in the list
 */
function makeErrorDivs($form, data) {
    if (typeof data == 'string') {    
        data = JSON.parse(data)
    }
    var $divgroups = $form.children(".form-group").children(".field-wrapper");
    
    for (var i in data) {
        console.log("data." + i + " = " + data[i]);
        var d = $divgroups.find("input#" + i);
        var values = data[i];
        for (var j = 0; j < values.length; j++){
            d.after( $("<div>").text(values[j]).addClass("err") )
        }
    }
}

function clearErrorDivs($form) {
    //$form.find(".form-group > div.field-wrapper > div.err").remove();
    $('div.err').remove();
}

function status(s) {
       $("#status").text(s)
}

function success(data, textStatus, jqXHR ) {
    clearErrorDivs($("#userform"))
    $("#status").addClass("label-success").removeClass("label-danger");
    var msg = "User " + data.username;
    if (data.last_name || data.first_name) {
        msg += " ("+ data.first_name + " " + data.last_name + ")";
    }
    msg += " created";
    status(msg)
}
function error(jqXHR, textStatus, errorThrown) {
    clearErrorDivs($("#userform"))
    var data = jqXHR.responseText;
    $("#status").addClass("label-danger").removeClass("label-success");
    status(textStatus)
    
    makeErrorDivs($("#userform"), data)
}

// S&F Admin group ID is 1
function processFormData($form) {
   var d =  $formAsJSON($form)
   d["groups"]= [1,];
   return d
}

$("#userform").submit( ajaxFormPost("/api/users/", processFormData, success, error) )
                      
</script>
{% endblock %}