{% extends "sf_base.html" %}
{% block header_styles %}
<style>
    label {
        width: 8em;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       <h2>Create New S&F Driver</h2>
       <div id="status">
        
       </div>
    </div>
    <div class="col-sm-4"></div>
</div>

  {% if user.is_authenticated %}
<div class="container-fluid">
<form class="" id="userform" >
    <!-- get csrf from cookie {% csrf_token %}-->
    <div class="form-group" >
      <label>First Name
      <input type="text" name="first_name" id="first_name"/>
      </label>
    </div>
    <div class="form-group" >
      <label for="last_name" >Last Name</label>
      <input type="text" name="last_name" id="last_name"/>
    </div>
     <div class="form-group" >
      <label for="color">Map Color</label>
      <input type="color" name="color" id="color" value="#000099"/>
      <small>Color used for drawing driver on the map.</small>
    </div>
    <div class="form-group" >
      <label for="email"> Email
        <input type="text" name="email" id="email"/>
      </label>
    </div>
    <div class="form-group" >
      <label for="username">Username:</label>
      <input type="text" name="username" id="username"/>    
    </div><div class="form-group">
      <label for="password">Password:</label>
      <input type="text" name="password" id="password"/>    
    </div>
   
    {% if user.is_authenticated %}
    <!-- TODO: Also check for role, in case a Driver hacks his way here ;) -->
    <input class="btn btn-success" type="submit" value="Save">
    {% else %}
    <span class="label label-danger">You don't have permission to change this.</span>
    {% endif %}
    
</form>

  {% endif %}
  
{% endblock %}
{% block footer_js %}
<!-- adds csrf header to jquery ajax calls -->
<script src="/static/rest_framework/js/csrf.js"></script>
<!-- makes POSTing easier -->
<script src="/static/js/ajaxformpost.js"></script>

<script>
function status(s) {
    $("#status").text(s)
}

function success(data, textStatus, jqXHR ) {
    status("Added user " + textStatus + " " + JSON.stringify(data))
    
}
function error(jqXHR, textStatus, errorThrown) {
    var data = jqXHR.responseText;
    status("Error adding user: " + textStatus + " " + errorThrown + " " + data)
}

// TODO: Why not have i.e.
// doAjaxForm("#userform", url=?, success, fail, always, extraDict={groups:1})
// OR ajaxFormSubmit(url, success, fail,)
// function handleSubmit(url, dict, success, fail, always){
//    return function(event){ // function below ... };
// };
// 
// $("#userform").submit( handleSubmit("/url", {}, success, fail, always );

/**
 * Attach to a form to submit POST data over AJAX
 * Convenience method
 * URL - to call with AJAX (POST)
 * Dict - extra arguments to post
 * success - function(data, textStatus, jqXHR )
 * fail - function(jqXHR, textStatus, errorThrown)
 * always - 
 */


// S&F DRIVER group ID is 2
function procData($form){
var u = $formAsJSON($form);
u["groups"] = [2,];
var d = {};
// move driver info out of form dict
d["color"] = u["color"]
delete u["color"]
// set driver's user
d["user"] = u;
return d;
}
// send JSON
$("#userform").submit( ajaxFormPost("/api/driver/", procData, success, error) );
                      
</script>
{% endblock %}