{% load rest_framework %}
{% for field in form %}
  {% if field.read_only and field.value %}
    <div>{% if field.label %}{{ field.label }}: {% endif %}{{ field.value }}</div>
  {% else %}
    {% if field.required %}
      <span>REQUIRED:</span>
    {% else %}
      <span>optional:</span>
    {% endif %}
    
    {% render_field field style=style %}
  
  {% endif %}  
{% endfor %}
